/AssemblyTest.xcodeproj/xcuserdata/
/AssemblyTest.xcodeproj/project.xcworkspace/xcuserdata/
/Apple2BuildPipelineSample.xcodeproj/xcuserdata/
/Apple2BuildPipelineSample.xcodeproj/project.xcworkspace/xcuserdata/
*.lst
